
.mx_RoomView_fullscreenView {
    flex-direction: row;
    .mx_AppsDrawer {
        flex: 2;
        margin: 0;
    }
    .mx_EventTile_line {
        margin-right: 0;
    }
    .mx_EventListSummary_toggle {
        display: none;
    }
}


.mx_LeftPanel {
    min-width: 150px;
}

.mx_RightPanel_membersButton::before {
    mask-image: url("~matrix-react-sdk/res/img/element-icons/room/members.svg");
}